{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <head>
        <style>

            :root {
                --input-padding-x: .75rem;
                --input-padding-y: .75rem;
            }

            html,
            body {
                height: 100%;
            }

            body {
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-align: center;
                -ms-flex-pack: center;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #f5f5f5;
            }

            .form-signin {
                width: 100%;
                max-width: 420px;
                padding: 15px;
                margin: 0 auto;
            }

            .form-label-group {
                position: relative;
                margin-bottom: 1rem;
            }

            .form-label-group > input,
            .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x);
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0; /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent;
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-moz-placeholder {
                color: transparent;
            }

            .form-label-group input::placeholder {
                color: transparent;
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
                padding-bottom: calc(var(--input-padding-y) / 3);
            }

            .form-label-group input:not(:placeholder-shown) ~ label {
                padding-top: calc(var(--input-padding-y) / 3);
                padding-bottom: calc(var(--input-padding-y) / 3);
                font-size: 12px;
                color: #777;
            }

        </style>
    </head>
    <form method="post" class="form-signin">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(registrationForm) }}

        <h4 class="card-title mt-3 text-center" style="color: #ffffff">Create Account</h4>

        <div class="form-group input-group">
            <div class="col-sm-10">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i>Username</span>
                    </div>
                    {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control','name':'username','id':"inputUsername","placeholder":"Enter your username","required":"","autofocus":""}}) }}
                </div>
            </div>
        </div>

        <div class="form-group input-group">
            <div class="col-sm-10">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i>Password</span>
                    </div>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control','name':'password','id':"inputPlainPassword","placeholder":"Enter your password","required":"","autofocus":""}}) }}
                </div>
            </div>
        </div>

        <div class="form-group input-group">
            <div class="col-sm-10">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i>Repeat password</span>
                    </div>
                    <input type="password" name="repeatpassword" id="inputRepeatPassword" class="form-control"
                           placeholder="Repeat Password"
                           required>
                </div>
            </div>
        </div>
        <div class="form-group input-group">
            <div class="col-sm-10">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i>Address</span>
                    </div>
                    {{ form_widget(registrationForm.address, {'attr': {'class': 'form-control','name':'address','id':"inputAddress","placeholder":"Enter your home address","required":"","autofocus":""}}) }}
                </div>
            </div>
        </div>
        <div class="form-group input-group">
            <div class="col-sm-10">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i>Email</span>
                    </div>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control','name':'email','id':"inputEmail","placeholder":"Enter your email","required":"","autofocus":""}}) }}
                </div>
            </div>
        </div>
        <div>
            <div class="col-sm-10">
                <div class="form-group input-group">

                    <button class="btn btn-lg btn-primary" type="submit">
                        Register
                    </button>
                </div>
            </div>
        </div>
        <div class="text-lg-center font-weight-bold col-sm-10">Have an account? <a
                    href="{{ path("app_login") }}">Log In</a>
        </div>
        {{ form_end(registrationForm) }}

    </form>
{% endblock %}
